* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fffafa;
}
.banner-content {
  width: 1320px;
  height: 600px;
}

.head-banner {
  border-radius: 16px;
  position: relative;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  left: 330px;
  top: 40px;
}
.banner-text1 {
  position: absolute;
  top: 40%;
  left: 48%;
  color: #050505;
  font-family: Merriweather;
  font-size: 42px;
  font-weight: 400;
}
.banner-text2 {
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
  font-family: Merriweather;
  font-size: 52px;
}
.text-offer {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  margin-top: 170px;
}

.New-year {
  border-radius: 16px;
  position: relative;
  background: linear-gradient(180deg, #f3f3f3 0%, rgba(7, 2, 17, 0) 100%);
  left: 440px;
  top: 140px;
}
.text-offer-2 {
  position: absolute;
  text-align: center;
  font-family: Merriweather;
  font-size: 24px;
  left: 40%;
}
.holyday {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.text-offer-3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  padding: 15px;
}

.vector-banner {
  border-radius: 16px;
  position: relative;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  left: 330px;
  top: 300px;
}
.vector-content {
  width: 1320px;
  height: 600px;
}
.vector-banner1 {
  position: absolute;
  left: 1200px;
  top: 1800px;
  fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
.vector-text1 {
  position: absolute;
  left: 642px;
  padding: 1px;
  width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  margin: -191px;
}
.vector-text2 {
  position: absolute;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 697px;
  left: 480px;
}
.btn-primary {
  background-color: #f54b08;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#about {
  position: relative;
  padding: 130px;
  border-radius: 10px;
  background-color: #dfcabb;
  margin: 388px 70px 50px 310px;
  width: 1125px;
  height: 135px;
}
.about-place {
  font-weight: 600;
  font-size: 32px;
  line-height: 56px;
  position: absolute;
  top: 25%;
  left: 35%;
  align-items: center;
}
#about .text1 {
  color: #070304;
}
#about .span {
  color: #e70707;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px;
  position: relative;
  top: 100%;
  left: 35%;
}
.primary-btn {
  background-color: #f54b08;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: Inter;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Inter;
}

.best-gift {
  position: relative;
  padding: 130px;
  border-radius: 10px;
  background-color: #dfcabb;
  margin: 8px 0px 0px 310px;
  width: 1125px;
  height: 400px;
}
.best {
  position: absolute;
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  top: 7%;
  left: 2%;
}

.portfolio {
  position: absolute;
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  top: 11%;
  left: 2%;
}
.portfolio-text {
  position: absolute;
  width: 790px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  top: 20%;
  left: 2%;
}

.gallery-img-col {
  position: absolute;
  top: 30%;
  left: 2%;
}

div.gallery-img {
  margin: 15px;
  float: left;
  width: 180px;
}

div.gallery-img img {
  width: 100%;
  height: auto;
}

#subscribe {
  position: relative;
  padding: 130px;
  border-radius: 10px;
  background-color: #dfcabb;
  margin: 67px 70px 50px 310px;
  width: 1125px;
  height: 180px;
}
.subscribe-content {
  position: absolute;
  text-align: center;
  margin-top: -4px;
  padding: 40px;
}
.sub-titel {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.sub-description {
  color: rgb(85, 63, 63);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 896px;
}

.subscribe-content img {
  position: absolute;
  top: -41%;
  right: 42%;
  width: 120px;
  height: 116px;
}
.btn-input {
  position: relative;
}

.sub-btn {
  position: absolute;
  width: 648px;
  height: 49px;
  border-radius: 50px;
  background: #fff;
  padding: 10px;
  top: 5%;
  right: 61%;
}

.btn-text {
  background-color: #f54b08;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 250px;
  cursor: pointer;
}

.footer {
  background-color: #070211;
  padding:100px 5px;
  margin-top: 75px;
  width: 100%;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.footer-info, li, a{ 

  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  list-style-type: none;
  text-decoration: none;
}


.footer-info1{
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
 
}

.icon-img ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-img{
  padding: 40px 0px;
}

.icon-img ul li{
  margin: 0px 12gpx;
}
.copy-right-info{
  display: flex;
  padding-top: 25px; 
  justify-content: space-between;
  align-items: center;
}
.copy-right-info p{
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
}
